.imgss{
    margin: auto;
    width:50%;
}

.smaller{
    position: inherit;
    height: 500px;
    width: 100%;
}

#carouselExampleIndicators{
    margin-top: 20px;
}

#content{
    margin-top: 20px;
    background-color: #f8f9fa;
    height: 500px;
    text-align: center;
}

#heading, .heading {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}


.card_align{
    float: left;
    padding: 50px;
    display: flex;
    justify-content: center;
    margin-left: 40px;
    
}

#main_image{
    height: 600px;
    background-color: grey;
}
.pos{
    height:190px;
}
.postwo{
    height:140px;
    width: 310px;
    overflow:auto;
}

.card_image{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 200px;
    width:100%;
}


#dv{
    color: black;
    border-width: 3px;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
}

.card-text{
    padding-left: 15px;
}

.custom-hr{
    position: relative;
    left:10%;
    background-color: grey;
    width: 80%;
    display: flex;
    justify-content: center;
    height: 3px;
}

.card-holder{
    position: relative;
    display: flex;
    justify-content: center;
    min-width: 1300px;
    flex-wrap: wrap;
    width: 100%;
}

.card{
    display: flex;
}

.row{
    width: 100%;
    margin-right: 10px;
    margin-left:  10px; 
}
.zoom {
  padding: 50px;
  background-color: green;
  transition: transform .2s;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.card-body{
    position: absolute;
    left:3px;
    bottom: 20px;
}

.zoom:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}

body{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/cc/Digital_rain_animation_medium_letters_shine.gif);
}

.content{
    background-color: white;
    position: relative;
    padding-bottom: 100px;
    
 
}

.body-content-main{
    width: 60%;
    margin: auto;
}

.footer{
    height: 300px;
    width: 100%;
    background-color: black;
    color: white;
    text-align-last: left;
    
}

#cta{
    padding-top: 40px;
}

.footer-heading{
    margin-left: 40px;
    padding-top: 50px;
}

.footer-column{
    width: 30%;
    height: 80%;
    position: relative;
    float: left;
    padding-left: 20%;
    padding-top: 20px;
    font-size: small;
}

.footer-descript{
    color: grey;
}

    
#incorrect{
    color: red;
}

#back{
    background-color: #486593;
}